html, body {
  width: 200px;
}

#tickerDiv {
            font-weight: bold;
            height: 30px;
            line-height: 18px;
            font-size: 1.5em;
}

.hidden {
  display: none;
}

.button {
  padding: 20px;
  text-align: center;
  font-size: 2em;
  cursor: pointer;
}

.emoji {
  font-weight: 600
}

.reset {
  background-color: #FBFBC9;
}

.reset:hover {
  background-color: #EAEA9D;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
